/*html {
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
}*/
* {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

.hide {
	display: none;
}

main {
	height: 100vh;
	width: 100vw;
}

body {
	height: 120vh;
	width: 100vw;
	overflow-x: hidden;
	background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

nav {
	background: rgb(0, 132, 255);
	color: white;
	margin: 0;
	padding: ;
	width: 100%;
	height: 30px;
}
nav a {
	color: white;
}

nav ul {
	display: flex;
	justify-content: space-around;
}

nav ul li {
	cursor: pointer;
}

#checklist {
	position: absolute;
	top: 30px;
	left: -20px;
	margin: 0 0 0 3%;
	padding: 1%;
	width: 20%;
	height: auto;
	background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
	box-shadow: 3px 3px 10px black;
	z-index: 10;
}

#checklistToggle {
	font-size: 10px;
	text-align: right;
	cursor: pointer;
}

#checklist > h3 {
	text-align: center;
}

#list > input {
	margin: 2%;
}

input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}

#mainMenu {
	width: 45%;
	margin: 0 auto;
}

#menu {
	margin: 0 auto;
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.menu-item {
	width: 45%;
	height: 30vh;
	background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
	margin: 1%;
	display: flex;
	justify-content: center;
	box-shadow: 3px 3px 10px black;
}

.menu-item a {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-item a p {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	color: rgb(0, 132, 255);
	background: rgb(255, 255, 255, 0.9);
	padding: 5%;

}

#zoom {
	background: url(../images/Zoom_Virtual_Background_thumbnail.png);
	background-size: 100% 100%;
}

#games {
	background: url(../images/games.jpg);
	background-size: 100% 100%;
}

#wouldYouRather {
	background: url(../images/wyr.jpeg);
	background-size: cover;
}

#guessWho {
	background: url(../images/guess-who.jpeg);
	background-size: cover;
}

#justDance {
	background: url(../images/just-dance.jpg);
	background-size: cover;
}

#scattergories {
	background: url(../images/scattergories.jpeg);
	background-size: cover;
}



#gameContain {
	margin-top: 20px;
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#gameCard {
	height: 100%;
	width: 75%;
	background: white;
	box-shadow: 5px 5px 5px grey;
}
#question {
	margin: 0 2.5%;
}

#options {
	display: flex;
	width: 100%;
	height: 40vh;
}

#optionA, #optionB {
	text-align: center;
	width: 50%;
	height: 70%;
	padding: 10%;
	font-size: 1.5em;
	color: #000;
}
#optionA {
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}
#optionB {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);

}
h1 {
	text-align: center;
	color: #FFF;
	margin: 3%;
}
h2 {
	padding: 2.5%;
	margin: 0;
	width: 100%;
	text-align: center;
}

#guessWhoContain {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#gwMenu {
	background: white;
	width: 20vw;
	padding: 1%;
}

#gameButtons {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 2%;
	flex-wrap: wrap;
}

#gameButtons > button {
	width: 100%;
}

#gameBoard {
	width: 75vw;
	height: 90vh;
	background: lightBlue;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.gwTile, .gwTile img {
	width: 20vh;
	height: 20vh;
	margin: 0 20px;
}

.intro {
	width: 50%;
	color: #fff;
	margin: 0 auto;
}

#craftContain {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.crafts {
	width: 280px;
	height: 157px;
	margin: 2.5vh;
	position: relative;
}

.craftHide {
	background: rgb(199,10,103);
    background: linear-gradient(125deg, rgba(199,10,103,1) 0%, rgba(255,15,133,1) 50%, rgba(199,10,103,1) 100%);
	width: 260px;
	height: 137px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	color: #FFF;
}

iframe {
	width: 280px;
	height: 157px;
}

#youTube {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


